<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The footer at the very bottom of the screen --}}
        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
                <nav class="site-footer-nav">
                    <a href="{{@site.url}}">Derniers articles</a>
                    <a href="/presse">Dossier de presse</a>
                    {{#if @site.facebook}}<a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">Facebook</a>{{/if}}
                    {{#if @site.twitter}}<a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
                    <a href="https://www.linkedin.com/in/ericlarch/" target="_blank" rel="noopener">Linked In</a>
                </nav>
            </div>
        </footer>

    </div>

    <div class="subscribe-success-message">
        <a class="subscribe-close" href="javascript:;"></a>
        Vous êtes désormais abonné à {{@site.title}}!
    </div>

    <div id="subscribe" class="subscribe-overlay">
        <a class="subscribe-close" href="#"></a>
        <div class="subscribe-overlay-content">
            {{#if @site.logo}}
                <img class="subscribe-overlay-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
            {{/if}}
            <div class="subscribe-form">
                <h1 class="subscribe-overlay-title">Newsletter</h1>
                <p class="subscribe-overlay-description">Inscrivez-vous pour recevoir les<br>dernières news du site !</p>
                <form action="https://ericlarcheveque.us5.list-manage.com/subscribe/post-json?u=324ff765144b71f1ac40f04db&id=1bed7643e1&c=?" method="post" id="mc-embedded-subscribe-form-popup">
                    <div class="form-group">
                        <input class="subscribe-email" id="email-form-popup" name="EMAIL" type="email" placeholder="monemail@gmail.com" autocomplete="false" required/>
                        <button class="button primary" type="submit" id="submit-form-popup">
                            <span class="button-content">S'inscrire</span>
                            <span class="button-loader">{{> "icons/loader"}}</span>
                        </button>
                    </div>
                    <div class="message-success">
                        <strong>Merci !</strong> Un email de confirmation vous a été envoyé.
                    </div>
                    <div class="message-error">
                        Une erreur s'est produite. Peut-être êtes-vous déjà abonné ?
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{!-- jQuery, required for fitvids --}}
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    {{!-- Fitvids (for responsive video embeds), infinite scroll, floating header, and gallery card support --}}
    <script src="{{asset "built/casper.js"}}"></script>

    <script>
        $(function() {
            var $form = $('#mc-embedded-subscribe-form-popup');
            $('#submit-form-popup').bind('click', function (event) {
                event.preventDefault();
                if (isValidEmailAddress($("#email-form-popup").val())) { 
                    register($form);
                    $(".message-error").hide();
                    $(".message-success").hide();
                }
            });
        })

        function register($form) {
            $(".button-content").hide();
            $(".button-loader").show();
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: $form.serialize(),
                cache: false,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (err) { 
                    $(".button-content").show();
                    $(".button-loader").hide();
                    $(".message-error").show();
                },
                success: function (data) {
                    $(".button-content").show();
                    $(".button-loader").hide();
                    if (data.result === 'success') {
                        $(".message-success").show();
                    } else {
                        $(".message-error").show();
                    }
                }
            });
        }
    </script>

    {{!-- Scripts for Members subscription --}}
    <script>
        // Parse the URL parameter
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        function isValidEmailAddress(emailAddress) {
            var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
            return pattern.test(emailAddress);
        }

        // Give the parameter a variable name
        var action = getParameterByName('action');

        $(document).ready(function () {
            if (action == 'subscribe') {
                $('body').addClass("subscribe-success");
            }

            $('.subscribe-success-message .subscribe-close').click(function () {
                $('.subscribe-success-message').addClass('close');
            });

            // Reset form on opening subscrion overlay
            $('.subscribe-button').click(function() {
                $('.subscribe-overlay form').removeClass();
                $('.subscribe-email').val('');
            });
        });
    </script>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
