{{!< default}}

{{#tag}}
<header class="site-archive-header">
    {{> site-header}}
    {{> header-background background=feature_image}} {{!--Special header-image.hbs partial to generate the background image--}}
        <div class="inner site-header-content">
            <h1 class="site-title">Portefeuille de participations</h1>
            <h2 class="site-description">
                Voici la liste complète des sociétés dans lesquels j'ai investi, que ce soit en tant que cofondateur, business angel, ou via "Qui veut-être mon associé ?".
            </h2>
            <div class="portfolio-navigation">
                <div id="filters" class="button-group">
                    <button class="btn is-checked" data-filter="*">Tout</button>
                    <button class="btn" data-filter=".cofounder">Cofondateur</button>
                    <button class="btn" data-filter=".ba">Business Angel</button>
                    <button class="btn" data-filter=".qvema">Qui veut être mon associé ?</button>
                    <button class="btn" data-filter=".exited">Participations cédées</button>
                </div>
            </div>
        </div>
    </div>
</header>
{{/tag}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">
        <div class="grid">
            {{#get "pages" limit="all" include="tags" filter="tag:portfolio"}}
                {{#foreach pages}}
                    <a href="/{{slug}}" class="{{tags separator=" " autolink="false"}}">
                        <div class="portfolio-image">
                            <img src="{{img_url feature_image size="s"}}"></img>
                        </div>
                        <div class="hover">
                            <h2 class="name">{{title}}</h2>
                            <span class="c_tag">
                                {{#has tag="ba"}}Business Angel{{/has}}
                                {{#has tag="cofounder"}}Cofondateur{{/has}}
                                {{#has tag="qvema"}}Qui veut être mon associé{{/has}}
                                {{#has tag="exited"}}Participation cédée{{/has}}
                            </span>
                            <br>
                            <span class="c_tag">
                                {{date published_at format="MMMM YYYY"}}
                            </span>
                        </div>
                    </a>
                {{/foreach}}
            {{/get}}
        </div>
    </div>
</main>

{{#contentFor "scripts"}}
<script>
    // init Isotope

    var $grid = $('.grid').isotope({
        itemSelector: '.portfolio',
        layoutMode: 'masonry',
        masonry: {
            columnWidth: 300,
            gutter: 10
        }
    });

    // bind filter button click
    $('#filters').on('click', 'button', function() {
        var filterValue = $(this).attr('data-filter');
        $grid.isotope({ filter: filterValue });
    });

    // change is-checked class on buttons
    $('.button-group').each( function(i, buttonGroup) {
        var $buttonGroup = $(buttonGroup);
        $buttonGroup.on('click', 'button', function() {
            $buttonGroup.find('.is-checked').removeClass('is-checked');
            $(this).addClass('is-checked');
        });
    });

    // Cas particulier d'affichage
    $(".name").each(function (i, e) {
        if ($(e).html() == "Permettez-moi de construire") {
            $(e).html("Permettez-moi<br>de construire");
        }
    });
</script>
{{/contentFor}}
